<nav>
  <div>
    <a href="/">GroupProjects</a>

    {{#if user}}

      {{#if (eq user.role "teacher")}}
        |
        <a href="/dashboard/teacher">Dashboard</a>
      {{else if (eq user.role "student")}}
        |
        <a href="/dashboard/student">Dashboard</a>
      {{/if}}

      |
      <a href="/logout">Logout</a>
    {{else}}
      |
      <a href="/register">Register</a>
      |
      <a href="/login">Login</a>
    {{/if}}
  </div>
</nav>