
<h2>Login</h2>

{{#if error}}
  <p style="color:red;">{{error}}</p>
{{/if}}

<form action="/login" method="POST">
  <label>Email:</label><br />
  <input type="email" name="email" required /><br />

  <label>Password:</label><br />
  <input type="password" name="password" required /><br /><br />

  <button type="submit">Login</button>
</form>

<p>Don't have an account? <a href="/register">Register</a></p>